@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

button {
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  flex: 1;
  cursor: pointer;
}

.sr-only {
  display: none;
}
